<div class="col-md-2">
    <ul class="nav nav-pills nav-stacked topMargin">
        <li>
            <a class="btn btn-success buttonTopMargin" href="{{ path('fos_user_profile_show') }}">
                New portfolio
            </a>
        </li>
        <li>
            <a class="btn btn-success buttonTopMargin" href="{{ path('fos_user_security_logout') }}">
                Active portfolios
            </a>
        </li>
    </ul>
</div>