 <h3 class="text-center">Current stock prices</h3>
    <table class="table table-bordered">
        <tr>
            <th class="text-center">Symbol</th>
            <th class="text-center">Stock name</th>
            <th class="text-center">Current price</th>
        </tr>
        {% for stock in data %}
            <tr>
                <td class="text-center"><a href="{{ path('stockDetails', {'symbol': stock.symbol}) }}">{{ stock.symbol }}</a></td>
                <td class="text-center">{{ stock.name }}</td>
                <td class="text-center">{{ stock.price|round(3, 'floor') }} $</td>
            </tr>
        {% endfor %}
    </table>