{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% include('AppBundle:include:sideBar.html.twig') %}
        {% else %}
            <div class="row">
                <div class="col-md-8">
                    <h1 class="text-center">Welcome to MarketMadness!</h1>
                </div>
            </div>
        {% endif %}

        <div class="row">
            {% include('AppBundle:include:stockPrices.html.twig') %}
        </div>

    </div>

{% endblock %}