{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% include('@App/_sideBar.html.twig') %}
        {% else %}
            <div class="row">
                <div class="col-md-8">
                    <h1 class="text-center">Welcome to MarketMadness!</h1>
                </div>
            </div>
        {% endif %}

        <div class="col-md-8">
            {% include('@App/_stockTable.html.twig') %}
            {% include('@App/_sharedTransactions.html.twig') %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ asset('js/refreshSharedTransactions.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}