{% extends '::base.html.twig' %}
{% block body %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% include('AppBundle:include:sideBar.html.twig') %}
    {% endif %}
    <h1>Here you will buy some stock!</h1>
    {{ dump(data) }}
{% endblock %}