 <h3 class="text-center">Active portfolios</h3>
    <table class="table table-bordered">
        <tr>
            <th class="text-center">Owner</th>
            <th class="text-center">Name</th>
            <th class="text-center">Initial Value</th>
            <th class="text-center">Difficulty</th>
        </tr>
        {% for portfolio in portfolios %}
            <tr>
                <td class="text-center">{{ portfolio.user.username }}</td>
                <td class="text-center">{{ portfolio.name }}</td>
                <td class="text-center">{{ (portfolio.initialCashAmount/100)|number_format }} $</td>
                <td class="text-center">{{ portfolio.difficulty }}</td>
            </tr>
        {% endfor %}
    </table>