{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        {% include('@App/admin/_adminSideBar.html.twig') %}
        <h3>Add new Yahoo stock.</h3>
        <div class="col-md-6">
            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}