{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        {% include('@App/admin/_adminSideBar.html.twig') %}
        <div class="col-md-8">
            <h1>Here will be some main page stuff</h1>
        </div>
    </div>

{% endblock %}